<!--
    footer.ejs
    Aislinn Richardson
    301146892
    10/04/23
-->

<!-- Scripts -->
<!-- Navigation Bar--> 

<footer id = "footer">
    <p></p>
    <p>Aislinn Richardson</p>
    </div>
</footer>
